/* ====================================================== */
/* ========= Remove the annoying default styles ========= */
/* ====================================================== */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* ul {
    padding: 0;
    list-style-type: none;
} */

/* textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;

  resize: none;
} */

/* ====================================================== */
/* =================== Add some colors ================== */
/* ====================================================== */

/*
1. Start with a main color and go to https://mycolor.space/
2. Go to https://picular.co/forest for thematic colors
3. Go to https://dribbble.com/shots/popular/web-design for inspiration
4. Go to https://colorsinspo.com/
*/

:root {
  --dominant: #FDFDFC; /* For the background, 60%*/
  --secondary:  hsl(183, 100%, 35%);/* For the main elements, 30%*/
  --accent: #0F1928; /* For little things that you want to stand out, 10% */

  /* --secondary-2: #FFD563;
  --secondary-3: #F8B500; */

  /*Colors with semantic value, use only if necessary*/
  --success: #B8B42D;
  --info: #30BCED;
  --failure: #ff0340;
}

/* ====================================================== */
/* =================== Add some fonts =================== */
/* ====================================================== */

/* Go to https://type-scale.com/ */


/* Custom selection color*/
*::selection{
    background: var(--secondary);
    color: var(--dominant);
}
/*Smart quotes */
q {
    quotes: "“" "”";
}


/* ====================================================== */
/* =============== Utility global classes =============== */
/* ====================================================== */

/*Text*/
.white {
  color: white;
}
.text-gradient {
    background: linear-gradient(to left, var(--secondary-3), var(--secondary-2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Positioning*/
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.absolute-center {
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
}
.absolute-center--horizontal {
  left: 50%;
  transform: translateX(-50%);
}
.glass-effect {
  backdrop-filter: saturate(180%) blur(20px);
}


/* ====================================================== */
/* ==================== Media queries =================== */
/* ====================================================== */

@media (max-width: 672px) { 
	:root {
		font-size: 62.5%; /* Fa que en el mòbil totes les mides rem siguin més petites. */
	}
}